#content  {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}
#content h2 {
    text-align: center;
}
#content h1 {
    top: 5px;
    left: 5px;
}

#greeting-container {
  margin-top: 20px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 18%;
  background-color: #f1f1f1;
  top: 15px;
  right: 40px;
  position: fixed;
  height: 35%;
  overflow: auto;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: pink;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: lightgrey;
  color: white;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-right: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;  
  height: auto; 
  border-radius: 50%; 
}
#pets {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}

#pets img {
  object-fit: cover;
  width: 200px;  
  height: 254px;
}
#logos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.contacts {
  margin-left: auto;
  width: 50px;
  height: 50px;
}